.footer-social {
  margin-top: 12px;
}

.footer-social-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-logo {
  fill: #ffffff;
}

.socials-items {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
